.homeCookHeading {
    width: 100%;
    height: 27vh;
    overflow: hidden;
}

.homeCookHeading img {
    position: relative;
    width: 100%;
    object-fit: cover;
}

.homeCookHeading h1 {

    position: absolute;
    top: 75px;
    left: 100px;
    font-size: 50px;
    font-weight: 400;
    color: #FFFFFF;
}

.homeCookForm {
    width: 90vw;
    margin: auto;
}

.homeCookInput {

    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: auto;
    margin-top: 40px;
}

.homeCookName,
.homeCookAddr,
.homeCookNumber,
.homeCookDate {
    display: flex;
    flex-direction: column;

}

.homeCookName input,
.homeCookAddr input,
.homeCookNumber input,
.homeCookDate input {
    margin-top: 10px;
    background: #D7D6D6;
    width: 255px;
    height: 50px;
    border-radius: 10px;
    padding-left: 20px;
}

.homeCookDescription {
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 270px;
    width: 100%;
    margin-top: 40px;

}

.homeCookDescription textarea {
    background: #D7D6D6;
    height: 100%;
    border-radius: 15px;
    vertical-align: text-top;
    padding: 10px;

}

.homeCookForm button {
    width: 400px;
    height: 62px;
    border: none;
    border-radius: 15px;
    margin-top: 90px;
    background: #F7BC00;
    color: #FFFFFF;
}

.homeCookDescription textarea::-webkit-resizer {
    display: none;

}