.settingsHeading {
    width: 100%;
    height: 27vh;
    overflow: hidden;

}

.settingsHeading img {
    position: relative;
    width: 100%;
    object-fit: cover;
}

.settingsHeading h1 {

    position: absolute;
    top: 75px;
    left: 100px;
    font-size: 50px;
    font-weight: 400;
    color: #FFFFFF;
}

/* 
.updateForm {
    width: 90vw;
    border: 1px solid gray;
    margin: auto;
}

.updateDataDiv {
    display: flex;

}

.updateData {
    display: flex;
    flex-direction: column;
    margin: auto;

} */

form {
    width: 90vw;
    margin: auto;
}

.updateForm {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.updateDataDiv {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-top: 50px;
}

.updateData {
    display: flex;
    flex-direction: column;
}

.updateData label {
    font-size: 14px;
    color: #666;
}

.updateData input {
    margin-top: 0px;
    margin-bottom: 30px;
    background: #D7D6D6;
    width: 455px;
    height: 50px;
    border-radius: 10px;
    padding-left: 20px;
}

.updateAddr {
    display: flex;
    flex-direction: column;
    width: 78%;
    margin: auto;
    margin-top: 40px;
}

.updateAddr label {
    font-size: 14px;
    color: #666;
    margin-bottom: 10px;
}

.updateAddr textarea {
    background: #D7D6D6;
    height: 100px;
    border-radius: 15px;
    padding: 10px;
}

.updateForm form,
button {
    width: 400px;
    height: 62px;
    border: none;
    font-size: 26px;
    font-weight: 500;
    border-radius: 15px;
    margin: auto;
    margin-top: 80px;
    background: #F7BC00;
    color: #FFFFFF;
    cursor: pointer;
}

.h1Settings {
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 11.5%;
    margin-top: 30px;
    height: 60px;
    /* text-align: center; */
    border-radius: 10px;
    width: 200px;
    padding: 0;
    background: #F7BC00;
    color: #FFFFFF;
    gap: 10px;



}

.h1Settings h1 {
    margin: 0;
}